body{
    text-align: center;
    margin: 15px;
}
#title{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#description{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: justify;
    margin: 15px;
}
label{
    display: block;
    text-align: center;
}
input{
    display: block;
    text-align: center;
    margin: auto;
}
textarea{
    display: block;
    text-align: center;
    margin: auto;
}
input #email{
    display: block;
    text-align: center;
}
.radio-group{
    display: flex;
    flex-direction: column;
}